main{
    background-color: #f5f5f5;
    height: 90vh;
    text-align: center;
}


h2 {
    padding-top: 20px;
}

.dashboard-sections {
    display: flex;
    justify-content: space-around;
}

.shop-managers {
    display: flex;
    justify-content: space-around;
}

.shop-managers-section {
    background-color: white;
    padding: 20px 40px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.shop-managers-section th {
    padding-right: 30px;
    padding: 8px 16px;

}

.shop-managers-section td {
    padding-right: 30px;
    padding: 8px 16px;

}

.back {
    padding-top:20px;
}

.form-group {
    display: grid;
    align-items: center;
    margin-top: 32px;

    grid-template-columns: 1fr 2fr;
}

.form-group input{
    height: 30px;
    
}

.form__required {
    color: #FF9494;
}

.form__input {
    padding: 8px 16px;
    background-color: #F4F4F4;
    color: #BEB1A6;
}

.btn-primary {
    padding: 100px;
    margin-top: 50px;
    width: 450px;
    height: 300px;
    border: none;
    border-radius: 3px;
    background: #fff;
    color: #000;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
