.header {
    background: #f5f5f5;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1230px;
    display: flex;
}

.header__logo {
    position: relative;
        left: 10px;
    color: blue;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    margin: 0 20px;
}

/* モーダルウィンドウのリンクボタン */
.openbtn6 {
    position: relative;
    left: 10px;
    background: blue;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

/*ボタン内側*/
.openbtn6 span {
    display: inline-block;
    transition: all .4s;
    /*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
}

.openbtn6 span:nth-of-type(1) {
    top: 15px;
    width: 30%;
}

.openbtn6 span:nth-of-type(2) {
    top: 23px;
    width: 45%;
}

.openbtn6 span:nth-of-type(3) {
    top: 31px;
    width: 20%;
}


/* モーダルウィンドウ */
.modal-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60px 10px;
    text-align: center
}

.modal-wrapper:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    vertical-align: middle;
    content: ""
}

.modal-wrapper .modal-window {
    display: inline-block;
    z-index: 20;
    position: relative;
    width: 70%;
    max-width: 600px;
    padding: 30px 30px 15px;
    border-radius: 2px;
    background: #fff;
    vertical-align: middle
}

.modal-wrapper .modal-window .modal-content {
    max-height: 80vh;
    overflow-y: auto;
}

.modal-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
}

.modal-wrapper .modal-close {
    z-index: 20;
    position: fixed;
    top: 50px;
    /* 画面の上端からの位置 */
    left: 50px;
    /* 画面の左端からの位置 */
    width: 35px;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
}

.modal-wrapper .modal-close:hover {
    color: white !important
}

.modal-content {
    font-size: 36px;
    color: blue;
    margin: 20px auto;

}

.modal-content ul {
    list-style-type: none;
    padding: 0;
}

.modal-content ul li {
    margin-bottom: 5px;
    /* リストアイテムの間隔を調整 */
}

.modal-content ul li a {
    text-decoration: none;
}

.modal-close {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

.logout {
    text-decoration: none;
}


@media screen and (max-width: 768px) {

    .header__inner {
        margin: 0 auto;
        padding: 20px 15px;
        max-width: 768px;
        display: flex;
    }
    .header__logo {
        color: blue;
        text-decoration: none;
        font-weight: bold;
        font-size: 30px;
    }

    /* モーダルウィンドウのリンクボタン */
    .openbtn6 {
        position: relative;
        left: 10px;
        background: blue;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }

    /*ボタン内側*/
    .openbtn6 span {
        display: inline-block;
        transition: all .4s;
        /*アニメーションの設定*/
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
    }

    .openbtn6 span:nth-of-type(1) {
        top: 15px;
        width: 30%;
    }

    .openbtn6 span:nth-of-type(2) {
        top: 23px;
        width: 45%;
    }

    .openbtn6 span:nth-of-type(3) {
        top: 31px;
        width: 20%;
    }

}