main {
    background-color: #f5f5f5;
}

.flash-message__success {
    padding: 15px 30px;
    margin-bottom: 10px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
    font-size: 20px;
    max-width: 50%;
}

.flash-message__error {
    padding: 15px 30px;
    margin-bottom: 10px;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
    font-size: 20px;
    max-width: 50%;
}

.alert-success {
    padding: 15px 30px;
    margin-bottom: 10px;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
    font-size: 20px;
    max-width: 50%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.shop-details {
    padding: 50px;
    padding-top: 25px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size:14px;
    width: 95%;
}

.object-header {
    display: flex;
    align-items: center;
}

.object-header h2{
    margin-left: 10px;
}

.back-button {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.back-button:hover {
    background-color: #f2f2f2;
}

.reservation-form-ttl {
    padding-left: 10px;
}

.shop-details img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.small-image {
    height: 200px;
}

.tags {
    margin-bottom: -10px;
}

.tag {
    display: inline-block;
    padding: 20px 2px;
}

.review-index{
    height: 40px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.review-index__button {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.review-index__button:hover {
    background-color: #0056b3;
}

.review-list {
    margin-top: 10px;
    width: 100%;
}

.review {
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.review-link__group {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
}

.review-link {
    margin-left: 20px;
}

.review p {
    margin: 5px 0px;
}

.review-link__button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: blue;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}

.rating {
    padding-top: 20px;
    font-size: 20px;
}

.fa-star {
    color: #d3d3d3;
}

.fa-star.selected {
    color: blue;
}

.comment {
    padding-bottom: 30px;
}

.reservation-form {
    position: relative;
    width: 90%;
    padding: 20px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 255, 0.6);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    margin-top:-35px;
}

.reservation-form input[type="date"],
.reservation-form select {
    margin-bottom: 10px;
    width: 40%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.reservation-form input,
.reservation-form select {
    margin: 10px;
    padding: 8px;
    width: 90%;
    border-radius: 5px;
}

.reservation-form-table {
    background-color: rgb(0, 140, 255, 0.6);
    width: 85%;
    font-size: 14px;
    border-radius: 5px;
    margin: 20px 10px;

}

.reservation-form-table tr {
    padding-top: 30px;
}

.reservation-form-table th{
    padding: 5px 20px;
    width: 30%;
    text-align: left;
}

.reservation-form-table td {
    padding: 5px 10px;
    text-align: left;
}

.reservation-form button {
    position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    width: 100%;
    font-size: 20px;
    padding: 15px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    object-fit: cover;
    margin-top: 40px;
}

@media screen and (max-width: 768px) {

    .flash-message__success {
        padding: 15px 30px;
        margin-bottom: 10px;
        border-color: #badbcc;
        background-color: #d1e7dd;
        color: #0f5132;
        font-size: 20px;
        margin-bottom: 35px;
    }

    .container {
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .review-index__link {
        padding-top: 8px;
        text-align: center;
        max-width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .reservation-form {
        position: relative;
        width: 90%;
        padding: 20px;
        border: none;
        color: white;
        background-color: rgba(0, 0, 255, 0.6);
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 60px;
        margin-top: -35px;
    }

    .reservation-form input[type="date"],
    .reservation-form select {
        margin-bottom: 10px;
        width: 50%;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .reservation-form input,
    .reservation-form select {
        margin: 10px;
        padding: 8px;
        width: 90%;
        border-radius: 5px;
    }

    .reservation-form-table {
        background-color: rgb(0, 140, 255, 0.6);
        width: 90%;
        font-size: 14px;
        border-radius: 5px;
        margin: 10px 10px;
    }

    .reservation-form-table tr {
        margin-top: 30px;
    }

    .reservation-form-table th {
        padding: 5px 10px;
        width: 35%;
        text-align: left;
    }

    .reservation-form-table td {
        padding: 5px 10px;
        text-align: left;
    }

    .reservation-form button {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 20px;
        padding: 15px;
        background-color: blue;
        color: #fff;
        border: none;
        border-radius: 0 0 5px 5px;
        cursor: pointer;
        object-fit: cover;
        margin-top: 100px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }

    .flash-message__success {
        padding: 15px 30px;
        margin-bottom: 10px;
        border-color: #badbcc;
        background-color: #d1e7dd;
        color: #0f5132;
        font-size: 20px;
        max-width: 100%;
    }

    .alert-success {
        padding: 15px 30px;
        margin-bottom: 10px;
        border-color: #f5c2c7;
        background-color: #f8d7da;
        color: #842029;
        font-size: 20px;
        max-width: 100%;
    }

    .shop-details {
        padding-top: 25px;
        margin-bottom: -50px;
        font-size: 14px;
        width: 90%;
    }

    .review {
        padding-top: 10px;
    }

    .reservation-form {
        margin: 0 auto;
        height: 500px;
    }

    .reservation-form input[type="date"] {
        width: 50%;
    }

    .reservation-form select {
        width: 90%;
    }

    .reservation-form-table {
        width: 80%;
    }

}