/* 検索フォーム */
.search-form {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    height: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    position: absolute;
    right: 30px;
}

.search-form__area,
.search-form__genre {
    position: relative;
}

.search-form__area-select {
    min-width: 80px;
    height: 40px;
    padding: 8px 12px;
    /* placeholderが表示される最低限の幅を最小値とする */
    border: none;
    background-color: #FBFBFB;
    border-radius: 10px 0 0 10px;

}

.search-form__genre-select {
    min-width: 100px;
    height: 40px;
    padding: 8px 12px;
    border: none;
    background-color: #FBFBFB;
}

.search-form__keyword-input {
    min-width: 340px;
    padding: 8px 12px;
    border: none;
    background-color: #FBFBFB;
    border-radius: 0 10px 10px 0;


}

.search-form__keyword-input {
    padding-right: 40px;
    /* 検索アイコン分のスペースを確保 */
}

.search-form__submit-button {
    position: relative;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    /* 検索アイコンの幅 */
    background-color: #FBFBFB;
    border: none;
    cursor: pointer;
}

.search-form__submit-button i {
    color: #555;
    /* アイコンの色 */
    font-size: 16px;
    /* アイコンのサイズ */
}

.search-form__actions {
    display: flex;
    padding-left: 10px;
    gap: 10px;
}

.search-form__search-btn,
.search-form__reset-btn {
    padding: 8px;
    width: 90px;
}

.search-form__reset-btn {
    background-color: #D9C6B5;
}

/* sessionメッセージ */
.flash-message__create {
    padding: 15px 30px;
    margin-bottom: 10px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
    font-size: 20px;
}

.flash-message__delete {
    padding: 15px 30px;
    margin-bottom: 10px;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
    font-size: 20px;
}

/* 飲食店一覧表示 */
main {
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.object-container {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 15px;
    padding:0px 10px;
}

.object {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* カード間の間隔を含めて均等に並べる */
    width: 300px;
    margin: 5px 5px;
}

.object-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: -30px;
}

.object-body {
    padding: 20px;
}

.object-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.tag {
    display: inline-block;
    font-size: 14px;
    padding-bottom: 20px;
    margin-right: 5px;
}

.btn-details {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    /* リンクのデフォルトの下線を消す */
}

.btn-details:hover {
    background-color: #2980b9;
}

.object-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-favorite {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.btn-favorite:focus {
    outline: none;
}

.btn-favorite
.heart {
    font-size: 2em;
    /* ハートマークのサイズに合わせる */
    color: gray;
    /* デフォルトの色 */
}

.btn-favorite.active
.my-red.active {
    color: red;
    /* アクティブな状態の色 */
}

@media screen and (max-width: 768px) {
    /* 検索フォーム */
    .search-form {
        display: flex;
        align-items: stretch;
        height: 40px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;

    }

    .search-form__area,
    .search-form__genre {
        position: relative;
    }

    .search-form__area-select {
        min-width: 40px;
        height: 40px;
        padding: 8px 12px;
        /* placeholderが表示される最低限の幅を最小値とする */
        border: none;
        background-color: #FBFBFB;
        border-radius: 10px 0 0 10px;

    }

    .search-form__genre-select {
        min-width: 60px;
        height: 40px;
        padding: 8px 12px;
        border: none;
        background-color: #FBFBFB;
    }

    .search-form__keyword-input {
        min-width: 100px;
        padding: 8px 12px;
        border: none;
        background-color: #FBFBFB;
        border-radius: 0 10px 10px 0;
    }

    .search-form__keyword-input {
        padding-right: 40px;
        /* 検索アイコン分のスペースを確保 */
    }
}
