.header {
    background: #f5f5f5;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    display: flex;
    align-items: center;
}

.openbtn6 {
    position: relative;
    /*ボタン内側の基点となるためrelativeを指定*/
    background: blue;
    margin-left: 50px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

/*ボタン内側*/
.openbtn6 span {
    display: inline-block;
    transition: all .4s;
    /*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
}


.openbtn6 span:nth-of-type(1) {
    top: 15px;
    width: 30%;
}

.openbtn6 span:nth-of-type(2) {
    top: 23px;
    width: 45%;
}

.openbtn6 span:nth-of-type(3) {
    top: 31px;
    width: 20%;
}

.header__logo {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    margin: 0 20px;
}

main {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card {
    width: 100%;
    max-width: 28rem;
    margin-top: 1.5rem;
    padding:0px;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.375rem;
    overflow: hidden;
    position: absolute;
    left: auto;
    top:25%;
}

/* 入力フォーム */
.form_ttl {
    color: white;
    font-size: 20px;
    padding: 15px 0 0 15px;
    background-color: blue;
    max-width: 100%;
    height: 60px;
}

.form-icon {
    padding: 0px 10px;
}

.form-input{
    width: 380px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.border-none {
    border: none;
}


.form-content {
    margin: 5px auto;
    width: 90%;
}

.form-container {
    margin: 20px auto;
}

.form-button {
    color: white;
    background-color: blue;
    font-size: 16px;
    text-align: center;
    align-items: center;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
    width: 18%;
    display: flex;
    justify-content: center;
}

.form-button:hover {
    background-color: blue;
    cursor: pointer;
}


/* モーダルウィンドウ */
.modal-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60px 10px;
    text-align: center
}

.modal-wrapper:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
    opacity: 1;
    visibility: visible;
    transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    vertical-align: middle;
    content: ""
}

.modal-wrapper .modal-window {
    display: inline-block;
    z-index: 20;
    position: relative;
    width: 70%;
    max-width: 600px;
    padding: 30px 30px 15px;
    border-radius: 2px;
    background: #fff;
    vertical-align: middle
}

.modal-wrapper .modal-window .modal-content {
    max-height: 80vh;
    overflow-y: auto;
}

.modal-overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
}

.modal-wrapper .modal-close {
    z-index: 20;
    position: fixed;
    top: 50px;
    /* 画面の上端からの位置 */
    left: 50px;
    /* 画面の左端からの位置 */
    width: 35px;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-indent: 0
}

.modal-wrapper .modal-close:hover {
    color: white !important
}

.modal-content {
    font-size: 36px;
    color: blue;
    margin: 20px auto;

}

.modal-content ul {
    list-style-type: none;
    padding: 0;
}

.modal-content ul li {
    margin-bottom: 5px;
    /* リストアイテムの間隔を調整 */
}

.modal-content ul li a {
    text-decoration: none;
}

.modal-close {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

.logout {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .header__inner {
        margin: 0 auto;
        padding: 20px 5px;
        max-width: 768px;
        display: flex;
        align-items: center;
    }

    .card{
        width: 60%;
    }
    
}
