main {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card {
    width: 100%;
    max-width: 28rem;
    margin-top: 1.5rem;
    padding:0px;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.375rem;
    overflow: hidden;
    position: absolute;
    left: auto;
    top:25%;
}

/* 入力フォーム */
.form_ttl {
    color: white;
    font-size: 20px;
    padding: 15px 0 0 15px;
    background-color: blue;
    max-width: 100%;
    height: 60px;
}

.form-icon {
    padding: 0px 10px;
}

.form-input{
    width: 380px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.border-none {
    border: none;
}


.form-content {
    margin: 5px auto;
    width: 90%;
}

.form-container {
    margin: 20px auto;
}

.form-button {
    color: white;
    background-color: blue;
    font-size: 16px;
    text-align: center;
    align-items: center;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
    width: 18%;
    display: flex;
    justify-content: center;
}

.form-button:hover {
    background-color: blue;
    cursor: pointer;
}

.logout {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .card {
            width: 90%;
            max-width: 28rem;
            margin-top: 1.5rem;
            padding: 0px;
            background-color: #fff;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
            border-radius: 0.375rem;
            overflow: hidden;
            position: absolute;
            left: auto;
            top: 25%;
        }
    
    /* 入力フォーム */
    .form_ttl {
        color: white;
        font-size: 20px;
        padding: 15px 0 0 15px;
        background-color: blue;
        max-width: 100%;
        height: 60px;
    }

    .form-icon {
        padding: 0px 10px;
    }

    .form-input {
        width: 90%;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
    }

    .border-none {
        border: none;
    }

    .form-content {
        margin: 5px auto;
        width: 90%;
    }

    .form-container {
        margin: 20px auto;
    }

    .form-button {
        color: white;
        background-color: blue;
        font-size: 14px;
        text-align: center;
        align-items: center;
        height: 40px;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 22%;
        display: flex;
        justify-content: center;
    }

    .form-button:hover {
        background-color: blue;
        cursor: pointer;
    }

}

@media screen and (max-width: 480px) {
    .card {
            width: 90%;
            margin-top: 1.5rem;
            padding: 0px;
            background-color: #fff;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
            border-radius: 0.375rem;
            overflow: hidden;
            position: absolute;
            left: auto;
            top: 25%;
        }

    /* 入力フォーム */
    .form_ttl {
        color: white;
        font-size: 20px;
        padding: 15px 0 0 15px;
        background-color: blue;
        max-width: 100%;
        height: 60px;
    }

    .form-icon {
        padding: 0px 10px;
    }

    .form-input {
        width: 90%;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
    }

    .border-none {
        border: none;
    }

    .form-content {
        margin: 5px auto;
        width: 90%;
    }

    .form-container {
        margin: 20px auto;
    }

    .form-button {
        color: white;
        background-color: blue;
        font-size: 14px;
        text-align: center;
        align-items: center;
        height: 40px;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 22%;
        display: flex;
        justify-content: center;
    }

    .form-button:hover {
        background-color: blue;
        cursor: pointer;
    }

}

@media screen and (max-width: 330px) {
    .card {
        width: 90%;
        margin-top: 1.5rem;
        padding: 0px;
        background-color: #fff;
        box-shadow:0 2px 4px -1px rgba(0, 0, 0, 0.06);
        border-radius: 0.375rem;
        overflow: hidden;
        position: absolute;
        left: auto;
        top: 20%;
    }

    /* 入力フォーム */
    .form_ttl {
        color: white;
        font-size: 20px;
        padding: 15px 0 0 15px;
        background-color: blue;
        max-width: 100%;
        height: 60px;
    }

    .form-icon {
        padding: 0px 10px;
    }

    .form-input {
        width: 90%;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
    }

    .border-none {
        border: none;
    }

    .form-content {
        margin: 5px auto;
        width: 90%;
    }

    .form-container {
        margin: 20px auto;
    }

    .form-button {
        color: white;
        background-color: blue;
        font-size: 14px;
        text-align: center;
        align-items: center;
        height: 40px;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 25%;
        display: flex;
        justify-content: center;
    }

    .form-button:hover {
        background-color: blue;
        cursor: pointer;
    }

}