main {
    background-color: #f5f5f5;
}

.flash-message__success {
    padding: 15px 30px;
    margin-bottom: 10px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
    font-size: 20px;
    margin-bottom:35px;
}

.alert-danger {
    padding: 15px 30px;
    margin-bottom: 10px;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
    font-size: 20px;
    margin-bottom: 35px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 47%;
    margin-right: 50px;
    margin-left: 5px;
    width: 1px;
    background-color: gray;
    height: 70%;
}

.shop-details {
    padding: 50px;
    padding-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 14px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.object {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 250px;
    margin: 5px 5px;
}

.object-header {
    width:280px;
    margin-left: 20px;
}

.object-header h2 {
    font-size: 34px;
    font-weight: 200;
    width:300px;
}

.object-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: -30px;
}

.object-body {
    padding: 20px;
}

.object-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.tag {
    display: inline-block;
    font-size: 14px;
    padding-bottom: 20px;
    margin-right: 5px;
}

.btn-details {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn-details:hover {
    background-color: #2980b9;
}

.object-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-favorite {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.btn-favorite:focus {
    outline: none;
}

.btn-favorite .heart {
    font-size: 2em;
    color: gray;
}

.btn-favorite.active .my-red.active {
    color: red;
}

.review-list {
    margin-top: 10px;
    width: 100%;
}

.review-ttl {
    margin: 15px 0;
}

.review {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.review p {
    margin: 5px 5px;
}

.review-form {
    position: relative;
    width: 100%;
    padding: 20px;
    margin-top: -20px;
}

.error-message {
    color: red;
    width: 90%;
}

.star-rating  {
    margin-top: 10px;
    margin-bottom: 30px;
}

.star-rating i {
    color: #d3d3d3;
    cursor: pointer;
    transition: color 0.3s ease;
}

.star-rating i.selected {
    color: blue;
}

.review-form label{
    font-size: 22px;
}

.review-form input {
    padding: 8px;
    width: 90%;
    border-radius: 5px;
}

.review-form textarea {
    padding: 8px;
    margin-top: 10px;
    width: 90%;
    height: 150px;
    border-radius: 5px;
}

.review-form-table {
    background-color: rgb(0, 140, 255, 0.6);
    width: 85%;
    font-size: 14px;
    border-radius: 5px;
    margin: 20px 10px;
}

.review-form-table tr {
    padding-top: 30px;
}

.review-form-table th {
    padding: 5px 20px;
    width: 30%;
    text-align: left;
}

.review-form-table td {
    padding: 5px 10px;
    text-align: left;
}

.letter-count {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    font-size: 14px;
}

.img-upload{
    margin-top: 10px;
}

.img-upload label {
    display: block;
    margin-bottom: 10px;
}

.img-input_form {
    background-color: #fff;
    width: 90%;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    border-radius: 3px;
}

.img-input_form:hover {
    background-color: #f9f9f9;
}

.upload-text {
    font-size: 16px;
    color: #555;
    text-align: center;
}

.img-preview {
    margin-left: 30px;
    display: none;
}

.img-preview img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.review-button {
    margin-top: 10px;
    position: relative;
        right:55%;
}

.post-review {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    color: black;
    border: solid 1px gray;
    border-radius: 30px;
    cursor: pointer;
    object-fit: cover;
    margin-bottom: 20px;
}

.post-review:hover {
    background-color: #f9f9f9;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .container::before {
        display:none;
    }

    .shop-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .review-form {
        width: 90%;
        margin: 0 auto;
        padding: 20px auto;
        margin-bottom: 60px;
        margin-top: -35px;
        justify-content: center;
        align-items: center;
    }

    .review-form input[type="date"],
    .review-form select {
        margin-bottom: 10px;
        width: 50%;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .review-form input,
    .review-form select {
        margin: 10px;
        padding: 8px;
        width: 90%;
        border-radius: 5px;
    }

    .review-form textarea {
        margin: 10px;
        padding: 8px;
        width: 90%;
        height: 150px;
        border-radius: 5px;
    }

    .review-form-table {
        background-color: rgb(0, 140, 255, 0.6);
        width: 90%;
        font-size: 14px;
        border-radius: 5px;
        margin: 10px 10px;

    }

    .review-form-table tr {
        margin-top: 30px;
    }

    .review-form-table th {
        padding: 5px 10px;
        width: 35%;
        text-align: left;
    }

    .review-form-table td {
        padding: 5px 10px;
        text-align: left;
    }

    .review-button {
        margin-top: 20px;
        position: relative;
        left:0;
    }

    .post-review {
        width: 90%;
        font-size: 18px;
        padding: 10px;
        margin-top: 20px;
        background-color: white;
        color: black;
        border: solid 1px gray;
        border-radius: 30px;
        cursor: pointer;
        object-fit: cover;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }

    .review-form {
        width: 80%;
        margin: 0 auto;
    }

    .shop-details {
        width: 80%;
        margin: 0 auto;
    }

}